* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}

/* Engloba a todo lo que hay en el navegador */
nav {
    flex-shrink: 0;
    justify-content: flex-end;
    display: flex;
    height: 70px;
    width: 100%;
    background-color: rgb(19, 62, 99);
}


/* div que contiene los enlaces */
.nav__boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

/* div que contiene el enlace que se posiciona a la izquierda  */
.nav__izq {
    margin-left: 50px;
    margin-right: auto;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
}


/* Div que contiene los div colocados a la derecha del navegador  */
.nav__der {
    display: flex;
}

/* grosor de los enlaces del navegador */
.enlace__izq {
    font-weight: 700;
}

.nav__enlace {
    font-weight: 300;
}

/* Espacio para el último div del navegador  */
nav>div:last-of-type {
    margin-right: 30px;
}


.container {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    max-width: 1200px;
}

.container__titulo {
    font-size: 2em;
}

.container__texto {
    color: rgb(60, 60, 60);
    margin-top: 20px;
}


img {
    display: flex;
}

.container__boton {
    margin-top: 30px;
    display: flex;
    width: 120px;
    height: 50px;
    background-color: rgb(247, 167, 37);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}


/* Formato móvil */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        display: flex;
        height: 100px;
    }

    .nav__der {
        display: flex;
        gap: 10px;
        justify-content: center;

    }

    .nav__izq {
        margin-left: 0px;
        width: 100%;
    }


    .container {
        flex-direction: column;
    }

    .container__section2 {
        order: 1;
    }

    .container__section2>img {
        display: flex;
        width: 100%;
        flex-shrink: 1;
    }

    .container__section1 {
        order: 2;
        margin-top: 50px;
    }

}



/* Poppins Light */
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Poppins Regular */
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Poppins Medium */
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Poppins Bold */
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}