@mixin crear-grid($nFilas, $nColumnas, $gap:20px) {
    display: grid;
    grid-template-columns: repeat($nFilas, 1fr);
    grid-template-rows: repeat($nColumnas, 1fr);
    gap: $gap;
}


div{
    @include crear-grid(3, 3);
}