header {
    $color__titulo1: rgb(95, 95, 168);
}

main {
    $color__titulo2: rgb(95, 95, 168);
}

footer {
    $color_titulo4: rgb(95, 95, 168);
    $enlaces: rgb(95, 95, 168);
    $enlaces--liso: text-decoration=none;
}