@use 'variables' as v;
@use 'sass:list';
@use 'sass:map';

// .titulo{color: list.nth(v.$colors, 1);  }
// .circulo{color: list.nth(v.$colors, 2);  }
// .punto{color: list.nth(v.$colors, 3);  }

ul {
    color: list.nth(v.$colors, 1);
    font-size: map.get(v.$font-sizes, "xl");

    ul {
        color: list.nth(v.$colors, 2);
        font-size: map.get(v.$font-sizes, "m");

        ul {
            color: list.nth(v.$colors, 3);
            font-size: map.get(v.$font-sizes, "sm");
        }
    }
}