* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: blue;
}

.container {
    margin: auto;
    max-width: 1100px;
    height: 800px;
    display: grid;
    grid: repeat(3, 1fr) / repeat(5, 1fr);

}

.header {
    height: 100px;
    background-color: rgb(250, 234, 170);
    grid-row: 1 / 2;
}

.main{
    background-color: white;
    grid-column: 2 / 5; 
}

.navigation{
background-color: rgb(255, 203, 220);
display: flex;
flex-direction: column;
grid-column: 1 / 2; 
grid-row: 2 / 3;
}

.sidebar{
    background-color: rgb(118, 118, 255);
    grid-column: 5 / -1; 
}
.footer {
    background-color: rgb(153, 153, 153);
    grid-row: 3 / 4;
}



.header,
.footer {
    grid-column: 1 / -1; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    text-align: center;
    color: rgb(64, 64, 64);
}

@media screen and (max-width: 600px) {


}