* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: content-box;
}

a {
    text-decoration: none;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card{
    border-radius: 5px;
 box-shadow: 1px 1px 2px black;
}

.card__plan{
    font-size: 0.8rem;
    color:rgb(39,42,59);
}


.card__precio {
    color: rgb(39,42,59);
    font-size: 1.5rem;
}

.card_boton{
    width: 30px;
    height: 20px;
    border: 3px;
    background-color: rgb(39,42,59);
}

.card__enlace{
    color: white;
}

@media screen and (min-width: 576px) {
  
}


@media screen and (min-width: 992px) {
    .container {
        height: 100vh;
        background-image: linear-gradient(to top, rgb(39,42,59) 50%, white 50%);
    }

}