* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: content-box;
}

/* Pequeño margen a cada texto de todas las cartas */
.card p {
    margin: 10px;
}

.impares p {
    color: gray;
}

/* Todos los títulos */
h1 {
    padding: 10px 0;
    font-size: 0.9rem;
}

/* Engloba a todas las cards */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
}

/* Todas las cards */
.card {
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
    flex: 1 1 250px;
    max-width: 350px;
}

/* Cards que son impares */
.impares {
    background-color: white;
}

/* Cambia la card del centro */
.centro {
    color: white;
    background-color: rgb(82, 116, 255);
}

/* cambia los enlace de las cards impares */
.impar {
    color: white;
    background-color: rgb(39, 42, 59);
}

/* cambia el enlace del centro */
.alt {
    color: rgb(39, 42, 59);
    background-color: white;
}


.card__personas {
    padding: 20px 0;
}

.card__plan {
    color: rgb(39, 42, 59);
}


.card__precio {
    color: rgb(39, 42, 59);
    font-size: 1.5rem;
}

/* Todos los botones */
.card__boton {
    margin: 30px 0;
    width: 150px;
    height: 60px;


}

/* Todos los enlaces */
.card__enlace {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}




/* Vista de tablet */
@media screen and (min-width: 576px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

     /* Priemr y segundo Artículo */
    .container article:nth-of-type(1),
    .container article:nth-of-type(2) {
        flex: 0 0 32.33%;
        min-width: 250px;
    }

    /* Último artículo */
    .container article:last-of-type {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/* Vista de Escritorio */
@media screen and (min-width: 992px) {
    .container {
        background-image: linear-gradient(to top, rgb(39, 42, 59) 50%, white 50%);
    }

}