* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: content-box;
}

a {
    text-decoration: none;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__plan{
    color:black;
}


.container__precio {
    font-size: 2rem;
}

@media screen and (min-width: 576px) {
    body {}
}


@media screen and (min-width: 992px) {
    .container {
        height: 100vh;
        background-image: linear-gradient(to top, rgb(8, 8, 86) 50%, white 50%);
    }

}