* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    background-color: lightskyblue;
    margin: 20px auto;
    height: 600px;
    width: 80%;
    padding: 20px;
    min-width: 575px;
    max-width: 1200px;
}

header {
    background-color: darkgoldenrod;
    height: 40px;
    width: 100%;
}


article {
    background-color: rgb(0, 139, 141);
    width: 49%;
    height: 500px;
    margin-top: 20px;
    padding: 10px;
}

article:nth-child(1) {
    float: left;
}

article:nth-child(2) {
    float: right;
}