.divespecial {
    width: 200px;
    background-color: rgb(192, 192, 192);
    border: 1px solid red;
}

.pespecial{
    width: 300px;
    border: dotted;
}

.otroespecial{
    width: 300px;
    margin-left: auto;
     margin-right: auto;
}

span{
    background-color: rgb(112, 112, 112);
    color: aliceblue;
    display: inline-block;
    border: 1px solid  black;
}