h1 {
    text-align: center;
}

.container{
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    /* Centrar el container */
    margin-inline: auto;
    padding: 10px;
    overflow: auto;
}
img{
    width: 150px;
}
img:first-of-type{
    float: right;
}
img:nth-of-type(2) , img:nth-of-type(3){
    float: left;
}
