@use 'sass:map'; 
//Variables
//Fuentes
$main-font: 'Lato', sans-serif;



//Colores
$main-color: #7bd1d7;
$secondary-color: #e082a8;
$grey: #808080;
$fondo: #f8f8f8;



//Tamaño media-queries
$breakpoints: ("medium": 768px, "big": 1024px);

