//Variables
//Fuentes
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;


// Grosor de fuentes
$regular: 400;
$medium-weight: 500;
$bold: 700;
$black-weight: 900;

//Colores
$main-color: #e8505b;
$secondary-color: #455a64;
$black: #000000;
$grey: #eceeef;
$white: #ffffff;

//Separación
$spacing: 5rem;

//Tamaño media-queries
$small: 480px;
$medium: 768px;
$ipad: 820px;
$big: 1024px;