@use 'sass:string';


@mixin centrado-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


section {
    @include centrado-flex;
    flex-direction: column;
}

@for $i from 0 through 9 {
    .color#{$i} {
        //background-color: string.unquote("#" + #{$i} + "00000");
        background-color: string.unquote("##{$i}00000");
        width: 90%;
        margin: 2px;
        padding: 10px;
        color: white;
    }
}