@use 'variables' as v;
// Para qwue pueda usar el math
@use 'sass:math';

.cuadro1{
    width: calc(v.$ancho/2);
    height: v.$alto;
    background-color: v.$color__cuadro;
}

.cuadro2{
    width: math.div(v.$ancho,4);
    height: v.$alto;
    background-color: v.$color__cuadro;
}

.cuadro3{
    width: calc(v.$ancho/8);
    height: v.$alto;
    background-color: v.$color__cuadro;
}