* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    
    background-image: linear-gradient(to right, darkorange, orange);
}

.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin: auto;
}

h1 {
    display: block;
    text-align: center;
    margin: 90px 0px;
    text-shadow: 2px 3px 4px black;
}

.img_container {
    flex: 1 1 350px;
    height: 350px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}