* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("zapato.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
   
}

.etiqueta{
text-align: center;
}
.e1 {
    background-color: rgb(76, 152, 0);
    position: fixed;
    top: 20px;
    left: 40px;
    padding: 18px 50px ;
}

.centro {
    color: aqua;
}

.e2 {
    background-color: rgb(76, 152, 0);
    position: fixed;
    bottom: 20px;
    right: 40px;
    padding: 10px 170px;
}

@media screen and (max-width: 700px){
    body {
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .e1, .e2{
       position: static;
    }
    .e1{
        margin-bottom: 350px;
    }
    .e2{
        margin-top: 350px;
    }


}