* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    background-image: linear-gradient(to right, darkorange, orange);
}

h1 {
    display: block;
    text-align: center;
    margin: 90px 0px;
    text-shadow: 2px 3px 4px black;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    row-gap: 20px;
    column-gap: 20px;
}

.img_container {
    min-width:350px;
    height: 350px;
    flex: 1;
    position: absolute;
}

img {

    background-size: cover;
}