* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(7, 26, 82);
    color: rgb(84, 84, 84);
}

.container {
    margin: 20px auto;
    max-width: 1100px;
    width: 90%;
    height: 800px;
    display: grid;
    grid: 5rem auto 5rem / 10rem repeat(5, auto) 10rem;

}

.header {
    height: 100px;
    background-color: rgb(255, 250, 204);
    grid-row: 1 / 2;
}

.main {
    background-color: white;
    grid-column: 2 / 7;
}

.navigation {
    background-color: rgb(255, 227, 224);
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.sidebar {
    background-color: rgb(230, 230, 250);
    grid-column: 7 / -1;
}

.footer {
    background-color: rgb(191, 191, 191);
    grid-row: 3 / 4;
}

.sidebar,
.navigation,
.main {
    padding: 15px;
    flex: 1;
}

.header,
.footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    text-align: center;
    font-size: 1.3rem;
}

@media screen and (max-width: 600px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .navigation{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navigation h3 {
        width: 100%; 
    }

    .navigation__link{
       padding-right: 5px;
    }

}