* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;        
    flex-direction: column;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}

nav {
    flex-shrink: 0;
    justify-content: flex-end;
    display: flex;
    height: 70px;
    width: 100%;
    background-color: rgb(19, 62, 99);
}

.botonNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
}

.botonNavIzq {
    margin-left: 30px;
    margin-right: auto;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
}

.enlaceNavIzq {
    font-weight: 700;
    width: 100%;
    height: 100%;
}

nav>div:last-of-type {
    margin-right: 30px;
}

.enlaceNav {
    width: 100%;
    height: 100%;
}

.container {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    max-width: 1200px;
}

.section1 > h2{
font-size: 2em;
}

.section1 > p{
    color: rgb(60, 60, 60);
    margin-top: 20px;
}

.botonTienda {
    margin-top: 30px;
    display: flex;
    width: 120px;
    height: 50px;
    background-color: rgb(247, 167, 37);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 768px) {
    nav {
        display: flex;
        height: 100px;
    }

    .botonNavIzq {
        align-self: center;
        display: block;
    }

    .container{
        flex-direction: column;
    }
    .section2{
        order: 1;
    }
    .section1{
        order: 2;
    }
    body {
        background-color: aqua;
    }


}