// Variables

$color1: #fe0fea;
$color2: #caca00;

$font1: sans-serif;
$font2: verdana;

body{
    font-family: $font1;
}

h1{
    color:$color1;
    font-family: $font2;
}

p{
    color: $color1;
    font-family: $font2;
}

h2{
    color:  $font1;
}

// Ejemplo de anidación con Sass (este comentario aparece tras la compilación)
main {
    div{
        p{
            background-color: $color2;
        }
    }
}