table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
}
/* Utilizando únicamente pseudoselectores, aplica fondo verde a las casillas que contienen horas */
td:first-child{
  background-color: green;
}

/* Utilizando únicamente pseudoselectores, aplica un fondo amarillo a la celda RECREO */
tr:nth-child(3) > td:nth-child(2){
  background-color: yellow;
  text-align: center;
}

/* Cambia los estado de los enlaces para que:

-Nunca estén subrayados
-Si están visitados se muestren en rojo
-Si no están visitado se muestren en verde */
a {
  text-decoration: none;
}
a:visited{
  color: red;
}
a:link{
  color: green;
}
/* Utilizando pseudoselectores, hacer que cuando pasemos el ratón sobre las celdas de la columna del viernes,
aumente el tamaño de letra el doble */
td:last-child:hover{
font-size: 200%;
}

/* Utilizando pseudoelementos, haz que la primera letra de los días tenga el doble de tamaño */
th::first-letter{
  font-size: 200%;
}


/* Añade un borde rojo que esté separado 5px a los campos obligatorios */
*:required{
  padding: 5px;
  border: 1px solid red;
}

/* Añade un * en rojo detrás de las etiquetas del formulario */
label:after{
  content: "*";
  color: red;
}
