// @use para importar el archivo de variables
// se usa el `as` para ponerle un nombre al llamar al archivo
// With asigna valores por defecto
@use 'variables' as v with (
    $color__fondo: limegreen,
    $color__titulo: darkorange
);

body{
    background-color: v.$color__fondo;
    font-size: v.$font__size--general;
}

h1{
    color: v.$color__titulo;
    font-size: v.$font__size--titulo;
}

h2{
    color: v.$color__SubTitulo;
}