* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

.hero {
    text-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("NewYork2.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    
    display: block;
    font-size: 3rem;
    font-family: sans-serif;


    text-shadow: 2px 2px 3px rgb(95, 94, 94);
}

.padre {
    position: absolute;
}

.hijo {
    position: relative;
}

.wave {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.relleno {
    width: 1000px;
    height: 1000px;
}

@media screen and (max-width:576px) {}