* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 100px auto;
    background-color: rgb(209, 209, 209);
}

.boton {
    width: 160px;
    height: 50px;
}

/* Ajustes generales de enlace */
.enlace {
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

/* Enlace 1 */

.enlace1 {
    border-radius: 50px;
    background-color: rgb(138, 75, 255);
    color: white;
}

.enlace1::before,
.enlace2::before,
.enlace3::after {
    position: absolute;
    content: '';
    width: 100%;
    transition: clip-path 1s;
    /* clip-path: circle(0% at 50% 50%); */
}

.enlace1::before {
    height: 100%;
    opacity: 0.3;
    background-color: white;
    clip-path: circle(0% at 50% 50%);
}

.boton1:hover .enlace1::before {
    clip-path: circle(150% at 50% 50%);
}

/*  Enlace 2 */

.boton2 {
    border-radius: 50px;
    background-color: white;
}

.enlace2 {
    border-radius: 50px;
    /* background-color: white; */
    color: rgb(138, 75, 255);
    transition: color 1s;
    z-index: 1;
    
}

.enlace2::before {
    height: 100%;
    background-color: rgb(138, 75, 255);
    z-index: -1;
    clip-path: circle(0% at 0% 0%);
}

.boton2:hover .enlace2 {
    color: white;
}

.boton2:hover .enlace2::before {
    clip-path: circle(150% at 0% 0%);
}

/* Enlace 3 */
.enlace3 {
    color: rgb(138, 75, 255);
}

.enlace3::after {
    bottom: 0;
    height: 3px;
    background-color: rgb(138, 75, 255);
    clip-path: circle(0% at 50% 50%);
}

.boton3:hover .enlace3::after {
    clip-path: circle(150% at 50% 50%);
}