$color1: rgb(222, 170, 170);
$color2:rgb(112, 112, 242);
$ancho: 1200px;
$alto:500px;
$espaciado:10px;

.contenedor{
  background-color: $color1;
  width: $ancho;
  padding: $espaciado;
}

.contenedor-con-altura{
@extend .contenedor;
background-color: $color2;
height: $alto;
}