/*  Duente de letra variable Raleway  */
@font-face {
    font-family: "Raleway";
    src: url(fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
    box-sizing: border-box;
}

/*  Contenedor que engloba al formulario */
.contact {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(103, 122, 230, 0.6), rgba(116, 75, 163, 0.6)), url("mountain.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

/* Formulario */
.contact__form {
    margin: 1vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 800px;
    text-align: center;
    background-color: white;
    padding: 25px;
    padding-left: 0;
    border-radius: 10px;
}

/*  Título del formulario */
.contact__legend {
    font-size: 2rem;
    font-weight: 700;
}

/*  Cada bloque con label e input */
.contact__field {
    display: flex;
    align-items: flex-end;
    align-items: center;
    width: 100%;
}

.contact__label {
    width: 120px;
}

/* Inputs */
.contact__input,
.contact__textarea {
    display: flex;
    align-items: center;
    height: 30px;
    flex-grow: 1;
    min-width: 400px;

}

.contact__textarea {
    height: 60px;
}

/* Bloque del botón */
.contact__send {
    display: flex;
    justify-content: flex-end;
}

/* Botón */
.contact__btn {
    width: 95%;
    height: 40px;
    color: white;
    background-image: linear-gradient(120deg, rgb(103, 122, 230) 30%, rgb(116, 75, 163) 80%);
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

/* Vista de Escritorio */
@media screen and (min-width: 768px) {

    /* Formulario */
    .contact__form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contact__legend {
        align-self: center;
        width: 100%;
    }

    .contact__field {
        width: 100%;
    }

    .contact__input,
    .contact__textarea {
        min-width: 50px;
        height: 50px;
    }

    .contact__textarea {
        height: 70px;
    }

    .contact__field:nth-of-type(1),
    .contact__field:nth-of-type(2) {
        width: 50%;
    }

    .contact__field:nth-of-type(1) {
        padding-right: 10px;
    }

    .contact__send {
        width: 100%;
    }

    .contact__btn {
        width: 80px;
    }
}