body {
    font-family: sans-serif;
}

.container {
    /* OUTLINE: borde exterior, no cuenta para el tamaño */
    outline: 2px dashed black;
    margin: 50px;
    height: 600px;
    width: 90%;
    max-width: 800px;
    display: flex;
    /* flex-wrap: wrap; */

    /* Aplico grid */
    display: grid;

    /* 1) Definición de la cuadrícula grid */
    /* grid-template-columns: repeat(4, 200px); */
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px); */

    /* Primero filas / después columnas */
    /* grid: repeat(4, 1fr) / repeat(4, 1fr); */
    gap: 10px;

    /* ALINEACIONES */
    /* justify-items: center;
    align-items: center; */

    /*  Prueba justify-content y align-content */
    grid: repeat(4,100px) / repeat(4, 100px);
    /* align-content: center;
    justify-content: center; */
    place-content: center;

    /* 2) Indicación de las celdas que se ocuparán */
    /* Se indica en los grid items */
}

.item {
    border: 2px solid black;
    font-size: 2rem;
    font-weight: 700;
    /* height: 100px;
    width: 100px; */
    padding: 10px;
    line-height: 100px;
    text-align: center;
}

.first {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 5;
    /* grid-row-start: 1;
    grid-row-end: 5; */
}


.second {
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    /* El -1 te asegura que va hasta el final. -2 es el penúltimo */
    /* grid-row: 2 / -1; */
}


.third {
    background-color: blue;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fourth {
    background-color: purple;
    grid-column: 2 / -1;
    grid-row: 4 / 5;
}

/* JERARQUÍA DE TAMAÑOS EN CSS */
/* max-content < width < flex-basis < max-width o min-width */