body{
    font-family: sans-serif;
}

.container {
    border: 2px dashed black;
    margin: 50px;
    height: 650px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    /* flex-wrap: wrap; */
}

.item {
    border: 2px solid black;
    font-size: 2rem;
    font-weight: 700;
    height: 150px;
    width: 150px;
    padding: 10px;
    line-height: 130px;
    text-align: center; 
}

.first {
    background-color: green;
}


.second {
    background-color: red;
}


.third {
    background-color: blue;
}


.fourth {
    background-color: purple;
}
   /* JERARQUÍA DE TAMAÑOS EN CSS */
   /* max-content < width < flex-basis < max-width o min-width */