* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(166, 255, 203), rgb(31, 165, 255));
}

.container {

    display: flex;
    flex-direction: column;
    flex: 1;
}

p {
    padding: 20px;
}

.header {
    background-color: rgb(100, 148, 237);
}

.navegacion {
    background-color: rgb(255, 126, 79);
}

.sidebar1 {
    background-color: rgb(95, 158, 161);
}

.main {
    background-color: rgb(219, 20, 60);
}

.sidebar2 {
    background-color: rgb(0, 0, 140);
}

.footer {
    background-color: rgb(140, 0, 140);
}



@media screen and (min-width: 768px) {

    .container {
        /* height: 100vh; */
        margin: auto;
        max-width: 800px;
        background-color: white;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);

        grid-template-areas:
            "header header header header"
            "sidebar1 navegacion navegacion navegacion"
            "sidebar1 main main sidebar2"
            "sidebar1 main main sidebar2"
            "sidebar1 main main sidebar2"
            "sidebar1 main main sidebar2"
            "sidebar1 main main sidebar2"
            "footer footer footer sidebar2"
        ;
    }

    .header {
        grid-area: header;
    }

    .navegacion {
        grid-area: navegacion;
    }

    .sidebar1 {
        grid-area: sidebar1;
    }

    .main {
        grid-area: main;
    }

    .sidebar2 {
        grid-area: sidebar2;
    }

    .footer {
        grid-area: footer;
    }
}