 *{
    font-family: sans-serif;
 }

header{
    background-color: rgb(134, 255, 150);
    padding: 8px;
}

a{
    color: rgb(0, 132, 255);
}

ul:first-of-type li{
    list-style: none;
}
ul:nth-of-type(1) li::before{
   content: url("img/icono.png") "  ";
}


ul:nth-of-type(2){
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

ul:nth-of-type(3) li{
    list-style: none;
    display: blosck;
    border: 1px solid black;
    background-color: rgb(150, 150, 150);
     max-width: 200px;
}

ul:nth-of-type(4) li{
    display: inline-block;
    list-style: none;
    border: 1px solid black;
    background-color: rgb(150, 150, 150);
   
    
}

ul:nth-of-type(4) li a{
    text-decoration: none;
    color: white;
    padding: 4px;
}

ul:nth-of-type(4) li:hover{
    text-decoration: none;
    background-color: white;
}
ul:nth-of-type(4) li a:hover{
    text-decoration: none;
    color: black;
    padding: 4px;
}

footer{
    text-decoration: none;
    
    text-align: center;
    background-color: darkgreen;
    color: white;
}