* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(214, 183, 26), white);
    margin: auto;
}

/* Todos los enlaces */
a {
    display: flex;
    align-self: flex-start;
    text-decoration: none;
}

/* Bloque General */
.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    row-gap: 30px;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

/* Cabecera */
.header {
    background-color: rgb(21, 44, 84);
    display: flex;
    flex-direction: column;
}

.header__nav {
    display: flex;
    flex-direction: row;
}

.header__link {
    padding: 10px;
}

.header__title {
    margin-left: 0px;
}

.container-main,
.container-servicios {
    width: 100%;
}

/* De nuestro blog */
.aside {
    background-color: rgb(212, 148, 106);
    margin-bottom: 30px;
    padding: 25px;
}

.aside__title {
    padding-bottom: 10px;
}

li {
    color: black;
}

/* Servicios */
.bloque-servicios__servicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.bloque-servicios__servicio--elem1 {
    background-color: rgb(171, 103, 58);
}

.bloque-servicios__servicio--elem2 {
    background-color: rgb(77, 100, 140);
}

.bloque-servicios__servicio--elem3 {
    background-color: rgb(118, 135, 168);
}

/* Ajustes comunes para el header y el footer */
.header,
.footer {
    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: rgb(21, 44, 84);
    margin-top: 4rem;
}


/* Cambia a vista de Escritorio */
@media screen and (min-width: 800px) {

    .header {
        flex-direction: row;
       
    }

    .header__title {
        margin-left: 0px;
        text-align: start;
        width: 60%;

         
    }

    .container-main {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }

    .bloque-servicios {
        width: 95%;
        display: flex;
        flex-direction: row;
    }

    .bloque-servicios__servicio{
        width: 100%;
    }

    .aside {
        width: 30%;
        order: 2;
    }

    .container-servicios {
        display: flex;
        width: 76%;
       
    }

}