* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.navegador {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(34, 59, 84);
     padding-right: 20px;
      gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.enlaces {   
    width: 80px;
    height: 100%;

}

a:hover {
    color: rgb(34, 59, 84);
    background-color: white;
}

.enlaces:hover {
    color: rgb(34, 59, 84);
}


.bloque {
    font-size: 2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 4px 4px 5px rgb(41, 41, 41);
    background-size: cover;
}

.parte1 {
    background-image: url("develop.jpg");
    background-repeat: no-repeat;

}

.parte2 {
    background-image: linear-gradient(to top, rgba(155, 61, 61, 0.5), rgba(0, 0, 0, 0)), url("img/codigo.jpg");
    background-repeat: no-repeat;
}

.parte3 {
    background-image: linear-gradient(to right, purple, rgb(255, 114, 253));
}

.boton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(243, 197, 137);
}

.boton:hover{
box-shadow: 1px 1px 10px darkgoldenrod;
}