* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "NotoSansTC";
    src: url(../fonts/NotoSansTC-Regular.otf);
    font-weight: "400";
    font-style: normal;
}

@font-face {
    font-family: "Staatliches";
    src: url(../fonts/Staatliches-Regular.ttf);
    font-weight: "400";
    font-style: normal;
}

:root {
    --color-principal: rgb(46, 164, 219);
    --color-secundario: #642B73;
    --color-texto: #FFCE00;
}

body {
    background-color: var(--color-principal);
    min-height: 100vh;
    /* Obliga al body a medir al menos el alto de la pantalla */
    display: flex;
    /* Activa el modo flexible */
    flex-direction: column;
}

.enlace__seleccionado{
    color: var(--color-texto);
}


a {
    text-decoration: none;
    color: white;
    font-family: 'Staatliches';
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.6em;
}

p {
    font-family: "NotoSansTC";
    font-weight: 400;
}

.header__nav {
    background-color: var(--color-secundario);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    /* Place-content es igual a usar los dos de abajo */
    place-content: center;
    /* justify-content: center;
    align-items: center; */

/* Es una forma de centrar  un elemento Grid absoluta y totalmente (vertical y horizontal) usando solo 3 líneas de código en el padre */
    /* display: grid; place-items: center; height: 100vh; */

}

.header__imagen {
    padding: 20px;
}

.header__enlaces {
    display: flex;
    gap: 20px;
    width: auto;
    min-width: 20px;
    justify-content: center;
    /* Deja también un espacio proporcional antes del primero y después del último */
    align-items: center;
}

.container__title {
    text-align: center;
    font-family: 'Staatliches';
    font-weight: 700;
}

.cards__texto {
    color: var(--color-texto);
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundario);
    padding: 20px;
    margin-top: auto;
}

.footer__derechos {
    color: white;
}

@media screen and (min-width: 768px) {
    .header__enlaces {
        width: 20%;
        justify-content: space-around;
    }
}