* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.cards__card{
    background-color: var(--color-secundario);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

