* {
    padding: 0;
    margin: 0;

}

body {

    text-align: center;
}

.card {
    padding-top: 30px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 9px;
    text-align: center;
    width: 350px;
    height: 400px;
    box-shadow: 3px 3px 6px 5px #5f5f5f;
}

h2 {
    margin-bottom: 20px;
}

.title {
    text-shadow: 2px 2px 3px #737373;
}

a {
    text-decoration: none;
    padding: 15px 20px;
    background: linear-gradient(55deg, #2a0066 75%, white 98% );
    color: white;
    border-radius: 5px;
    display: inline-block;

}

img {
    border-radius: 50%;
}