* {
    font-family: sans-serif;
}

.bloque {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    text-align: center;
    background-color: rgb(136, 136, 136, 0.3);
}

h2 {
    text-shadow: 2px 2px 2px rgb(112, 112, 112);
}

img {

    filter: drop-shadow(0px 0px 15px yellow);

}