* {
    font-family: sans-serif;
}

div{
    margin-bottom: 30px;
}

.fondo {
    height: 50px;
    width: 100%;
    color: gray;
    text-align: center;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, rgb(255, 114, 253));
}

.circulo {
    width: 100px;
    height: 100px;
    background-image: conic-gradient(red, orange, yellow, green, blue);
    border-radius: 50%;
}


.boton {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 20px;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.s1 {
    background-color: red;
    text-shadow: 1px 1px 1px 1px black;
    box-shadow: 1px 1px 3px black;
}

.s2 {
    width: 80px;
    background-image: linear-gradient(to right, darkorange, rgb(255, 215, 141));
}

.s2:hover {
    background-image: linear-gradient(darkorange);
    box-shadow: 0px 0px 12px darkorange;
}

.bloque {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    text-align: center;
    background-color: rgb(136, 136, 136, 0.3);
}

h2 {
    text-shadow: 2px 2px 2px rgb(112, 112, 112);
}

img {

    filter: drop-shadow(0px 0px 15px yellow);

}