body {
    background: linear-gradient(blue, pink);
}

.title {
    text-shadow: 2px 2px 1px #a9a9a9
}

div {
    margin-top: 10px;
}

p {
    text-shadow: 2px 4px 1px rgb(158, 158, 158);
}

a {
    text-shadow: none;
}

.shady {
    box-shadow: 2px 2px 2px #36e339;
}

.shady2 {
    box-shadow: -2px -2px #ff4603;
}

.shady3 {
    box-shadow: 2px 0px #2190ff;
}

.efecto {
    height: 55px;
    width: 55px;
    margin-bottom: 70px;
    margin-left: 20px;
}

.c1 {
    color: rgba(240, 46, 170, 0.6);
    font-family: sans-serif;
    box-shadow: 2px 2px rgba(240, 46, 170, 0.4), 4px 4px rgba(240, 46, 170, 0.3), 6px 6px rgba(240, 46, 170, 0.2), 8px 8px rgba(240, 46, 170, 0.1), 10px 10px rgba(240, 46, 170, 0.05);

}

.c2 {
    box-shadow: 0px 0px 0px 3px rgb(85, 91, 255), 0px 0px 0px 6px rgb(31, 193, 27), 0px 0px 0px 9px rgb(255, 217, 19), 0px 0px 0px 12px rgb(255, 156, 85), 0px 0px 0px 15px rgb(255, 85, 85);

}

.c3 {
   background-color: white;
    box-shadow: 0px 0px 0px 2px blue, 10px -10px 0px -2px white, 10px -10px green, 20px -20px 0px -2px white, 20px -20px rgb(247, 227, 7), 30px -30px 0px -2px white, 30px -30px orange, 40px -40px 0px -2px white, 40px -40px red;
}

.fondo {
    height: 50px;
    width: 100%;
    color: gray;
    text-align: center;
    background: linear-gradient(to right, red, orange, yellow, green, blue, rgb(255, 114, 253));
}

.circulo {
    width: 100px;
    height: 100px;
    background: conic-gradient(red, orange, yellow, green, blue);
    border-radius: 50%;
}

.boton {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 20px;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.s1 {
    background-color: red;
    text-shadow: 1px 1px 1px 1px black;
    box-shadow: 1px 1px 3px black;
}

.s2 {
    width: 80px;
    background-image: linear-gradient(to right, darkorange, rgb(255, 215, 141));
}

.s2:hover{
     background-image: linear-gradient( darkorange);
     box-shadow: 0px 0px 12px  darkorange;
}

.prueba{
    color: transparent;
    font-size: 3em;
    background-image: linear-gradient(to right, blue, red);
    background-clip: text;
}